<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

1. Python
2. R
3. SQL

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn

| Data Science Tools               |
|----------------------------------|
| Jupyter Notebook                 |
| RStudio                          |
| Apache Zeppelin                  |

### Below are a few examples of evaluating arithmetic expressions in Python.

| Data Science Tools               |
|----------------------------------|
| Jupyter Notebook                 |
| RStudio                          |
| Apache Zeppelin                  |

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [6]:
hours = 200 / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Understand development environment tools for Data Science.
- Evaluate arithmetic expressions in Python.
- Convert time units from minutes to hours.

## Author

Shayan Siddiqui